{% extends 'base.html.twig' %}
{% block title %}Office Holiday's{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Homepage </a></li>
            <li class="breadcrumb-item active" aria-current="page">Status Holidays </li>
        </ol>
    </nav>
{% endblock %}

{% block main %}

    <h3 style="padding-left: 15px">Add new Holiday</h3>
    <form class="form-inline" style="display: flex; flex-wrap: wrap;">
        <div class="form-group">
            {#<label class="col-sm-4 control-label" for="person">Person</label>#}
            <div class="col-sm-4 ">
                <input class="form-control" id="person" placeholder="Contact Name" name="person" required>
            </div>
        </div>
        <div class="form-group">
            {#<label class="col-sm-4 control-label" for="phone">Phone</label>#}
            <div class="col-sm-4 ">
                <input class="form-control" id="phone" placeholder="Phone number" name="phone" required>
            </div>
        </div>
        <div class="form-group">
            {#<label class="col-sm-4 control-label" for="email">Email</label>#}
            <div class="col-sm-4 ">
                <input class="form-control" id="email" placeholder="Email" name="email" required>
            </div>
        </div>
        <div class="form-group">
            {#<label class="col-sm-4 control-label" for="period">Period</label>#}
            <div class="col-sm-4 ">
                <input class="form-control" id="period" placeholder="Period" name="period" required>
            </div>
        </div>
        <div class="form-group">
            {#<label class="col-sm-4 control-label" for="days">Days</label>#}
            <div class="col-sm-4 ">
                <input class="form-control" id="days" placeholder="Days" name="Days" required>
            </div>
        </div>
        <div class="form-group">
            {#<label class="col-sm-4 control-label" for="comments">Comments</label>#}
            <div class="col-sm-4 ">
                <input class="form-control" id="comments" placeholder="Comments" name="Comments" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                <button id="btnCreate" class="btn btn-success"><i class="fa fa-plus"></i> Create</button>
            </div>
        </div>
    </form>


    <div style="width: 50%">
        <h1 style="padding-left: 10px">Holiday Plan</h1>
        <div id="holidays" class="container" style="display: flex; flex-wrap: wrap"></div>
    </div>
    <button id="btnLoad" class="btn btn-primary" style="margin-left: 15px;margin-top: 10px"><i class="fa fa-spinner"></i> Load</button>
    <link rel="stylesheet" href="{{ asset('css/holidaysTable.css') }}">
    <script src="{{ asset('/js/holidaysAjaxStatus.js') }}"></script>

{% endblock %}
